*
{
    margin: 0px;
}
header>h1,footer
{
    background: linear-gradient(45deg,cyan,yellow,red);
    padding: 20px;

}
nav
{
    text-align: center;			
    background: linear-gradient(45deg,blue,violet);
    padding: 10px;
    text-transform: uppercase;
}
nav>a
{
    padding: 20px;
    margin: 20px auto;
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;

}
nav a:hover 
{
    text-decoration: underline;
    color: blue;
}
aside
{
    background: linear-gradient(45deg,grey,lightblue,yellow);
    height: 500px;
    width: 200px;
    text-align: center;
    float: left;
}
aside>a
{
    display: block;
    bottom: 25px;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    font-family: cursive;
}
section
{
    margin-left: 200px;
    background-color: darkviolet;
    color: white;
}
section h1
{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
section article
{
    border-style: solid;
    border-color: white;
    margin-left: 20px;
    width: 97%;
}
footer a
{
    text-decoration: none;
    padding: 0px 20px;
    color: darkviolet;
    font-weight: bold;
    
}